* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

.game {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) center/cover;
  display: flex;
  flex-direction: column;
  align-items: center; }

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; }

.game__button {
  width: 60px;
  height: 50px;
  font-size: 20px;
  background: wheat;
  border: 2px solid #000;
  margin-bottom: 20px;
  transition: transform .3s ease; }
  .game__button:hover {
    transform: scale(1.05); }

.game__timer {
  width: 100px;
  height: 50px;
  background: #fff;
  font: 24px/44px 'arial';
  text-align: center;
  border: 3px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
  visibility: hidden; }

.game__score {
  width: 70px;
  height: 70px;
  background: darksalmon;
  border: 4px solid wheat;
  border-radius: 50%;
  font: bold 28px/62px 'arial';
  color: #fff;
  text-align: center;
  visibility: hidden; }

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 160px;
  position: relative; }

.game__field img{
  cursor: pointer;
}

.popup {
  margin: auto;
  width: 300px;
  height: 180px;
  background: #00000090;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: translateY(-250%); }

.popup__hide {
  display: none; }

.popup__message {
  display: block;
  font-size: 28px;
  color: #fff;
  margin-bottom: 40px; }

.popup__refresh {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: wheat;
  font-size: 20px; }
